# Hide package manager
node_modules
bower_components
.npmrc
*.tgz

# OSX
.DS_Store

# Debug
npm-debug.log

# Editors
project.sublime-project
project.sublime-workspace
jsconfig.json
.vscode

# Test reports
tests/a11y-results
tests/coverage

# built files
/es
/umd
/scripts
/css/**
/scss
/html
/docs/js
/_temp

# a11y testing
.aat.yml
