/*-----------------------------------------------------
 *	colors
 */

$color-grey-100:#272727;
$color-grey-90:#393939;
$color-grey-80:#4e4e4e;
$color-grey-70:#626262;
$color-grey-60:#8c8c8c;
$color-grey-50:#a3a4a3;
$color-grey-40:#b4b4b4;
$color-grey-30:#c6c6c6;
$color-grey-20:#d8d8d8;
$color-grey-10:#eaeaea;
$color-natural-white:#f4f4f4;

$color-cool-grey-100:#23292e;
$color-cool-grey-90:#343c41;
$color-cool-grey-80:#484f55;
$color-cool-grey-70:#5d636a;
$color-cool-grey-60:#868c91;
$color-cool-white:#EDF5FF;

$color-warm-grey-50:#A8A3A3;
$color-warm-grey-40:#B9B4B4;
$color-warm-grey-30:#CAC5C5;
$color-warm-grey-20:#DCD7D6;
$color-warm-grey-10:#EDE9E7;
$color-warm-white:#F8F4F2;

$color-pure-white:#ffffff;
$color-black:#000000;

$color-teal-40:#26B4CE;
$color-teal-30:#61E4E2;
$color-teal-20:#58FED3;

$color-cyan-40:#005EB1;
$color-cyan-30:#338FE5;
$color-cyan-20:#61C9F0;

$color-blue-60:#00155D;
$color-blue-50:#002087;
$color-blue-40:#0044C6;
$color-blue-30:#006CFC;
$color-blue-20:#68A9FD;
$color-blue-10:#C5DFFE;

$color-purple-40:#6D1E7B;
$color-purple-30:#854DB6;
$color-purple-20:#B184DE;

$color-pink-40:#A62070;
$color-pink-30:#D92763;
$color-pink-20:#D55392;

$watson-violet-1:#ece8f5;
$watson-violet-10:#e2d2f4;
$watson-violet-20:#d2b5f0;
$watson-violet-30:#bf93eb;
$watson-violet-40:#b07ce8;
$watson-violet-50:#9753e1;
$watson-violet-60:#7732bb;
$watson-violet-70:#602797;
$watson-violet-80:#44216a;
$watson-violet-90:#321c4c;
//

.color-grey-100{color:$color-grey-100;}
.color-grey-90{color:$color-grey-90;}
.color-grey-80{color:$color-grey-80;}
.color-grey-70{color:$color-grey-70;}
.color-grey-60{color:$color-grey-60;}
.color-grey-50{color:$color-grey-50;}
.color-grey-40{color:$color-grey-40;}
.color-grey-30{color:$color-grey-30;}
.color-grey-20{color:$color-grey-20;}
.color-grey-10{color:$color-grey-10;}
.color-natural-white{color:$color-natural-white;}

.color-cool-grey-100{color:$color-cool-grey-100;}
.color-cool-grey-90{color:$color-cool-grey-90;}
.color-cool-grey-80{color:$color-cool-grey-80;}
.color-cool-grey-70{color:$color-cool-grey-70;}
.color-cool-grey-60{color:$color-cool-grey-60;}
.color-cool-white{color:$color-cool-white;}

.color-warm-grey-50{color:$color-warm-grey-50;}
.color-warm-grey-40{color:$color-warm-grey-40;}
.color-warm-grey-30{color:$color-warm-grey-30;}
.color-warm-grey-20{color:$color-warm-grey-20;}
.color-warm-grey-10{color:$color-warm-grey-10;}
.color-warm-white{color:$color-warm-white;}

.color-pure-white{color:$color-pure-white;}
.color-black{color:$color-black;}

.color-teal-40{color:$color-teal-40;}
.color-teal-30{color:$color-teal-30;}
.color-teal-20{color:$color-teal-20;}

.color-cyan-40{color:$color-cyan-40;}
.color-cyan-30{color:$color-cyan-30;}
.color-cyan-20{color:$color-cyan-20;}

.color-blue-60{color:$color-blue-60;}
.color-blue-50{color:$color-blue-50;}
.color-blue-40{color:$color-blue-40;}
.color-blue-30{color:$color-blue-30;}
.color-blue-20{color:$color-blue-20;}
.color-blue-10{color:$color-blue-10;}

.color-purple-40{color:$color-purple-40;}
.color-purple-30{color:$color-purple-30;}
.color-purple-20{color:$color-purple-20;}

.color-pink-40{color:$color-pink-40;}
.color-pink-30{color:$color-pink-30;}
.color-pink-20{color:$color-pink-20;}

.color-watson-violet-1{color:$watson-violet-1;}
.color-watson-violet-10{color:$watson-violet-10;}
.color-watson-violet-20{color:$watson-violet-20;}
.color-watson-violet-30{color:$watson-violet-30;}
.color-watson-violet-40{color:$watson-violet-40;}
.color-watson-violet-50{color:$watson-violet-50;}
.color-watson-violet-60{color:$watson-violet-60;}
.color-watson-violet-70{color:$watson-violet-70;}
.color-watson-violet-80{color:$watson-violet-80;}
.color-watson-violet-90{color:$watson-violet-90;}

//

.bgcolor-grey-100{background-color:$color-grey-100;}
.bgcolor-grey-90{background-color:$color-grey-90;}
.bgcolor-grey-80{background-color:$color-grey-80;}
.bgcolor-grey-70{background-color:$color-grey-70;}
.bgcolor-grey-60{background-color:$color-grey-60;}
.bgcolor-grey-50{background-color:$color-grey-50;}
.bgcolor-grey-40{background-color:$color-grey-40;}
.bgcolor-grey-30{background-color:$color-grey-30;}
.bgcolor-grey-20{background-color:$color-grey-20;}
.bgcolor-grey-10{background-color:$color-grey-10;}
.bgcolor-natural-white{background-color:$color-natural-white;}

.bgcolor-cool-grey-100{background-color:$color-cool-grey-100;}
.bgcolor-cool-grey-90{background-color:$color-cool-grey-90;}
.bgcolor-cool-grey-80{background-color:$color-cool-grey-80;}
.bgcolor-cool-grey-70{background-color:$color-cool-grey-70;}
.bgcolor-cool-grey-60{background-color:$color-cool-grey-60;}
.bgcolor-cool-white{background-color:$color-cool-white;}

.bgcolor-warm-grey-50{background-color:$color-warm-grey-50;}
.bgcolor-warm-grey-40{background-color:$color-warm-grey-40;}
.bgcolor-warm-grey-30{background-color:$color-warm-grey-30;}
.bgcolor-warm-grey-20{background-color:$color-warm-grey-20;}
.bgcolor-warm-grey-10{background-color:$color-warm-grey-10;}
.bgcolor-warm-white{background-color:$color-warm-white;}

.bgcolor-pure-white{background-color:$color-pure-white;}
.bgcolor-black{background-color:$color-black;}

.bgcolor-teal-40{background-color:$color-teal-40;}
.bgcolor-teal-30{background-color:$color-teal-30;}
.bgcolor-teal-20{background-color:$color-teal-20;}

.bgcolor-cyan-40{background-color:$color-cyan-40;}
.bgcolor-cyan-30{background-color:$color-cyan-30;}
.bgcolor-cyan-20{background-color:$color-cyan-20;}

.bgcolor-blue-60{background-color:$color-blue-60;}
.bgcolor-blue-50{background-color:$color-blue-50;}
.bgcolor-blue-40{background-color:$color-blue-40;}
.bgcolor-blue-30{background-color:$color-blue-30;}
.bgcolor-blue-20{background-color:$color-blue-20;}
.bgcolor-blue-10{background-color:$color-blue-10;}

.bgcolor-purple-40{background-color:$color-purple-40;}
.bgcolor-purple-30{background-color:$color-purple-30;}
.bgcolor-purple-20{background-color:$color-purple-20;}

.bgcolor-pink-40{background-color:$color-pink-40;}
.bgcolor-pink-30{background-color:$color-pink-30;}
.bgcolor-pink-20{background-color:$color-pink-20;}

.bgcolor-watson-violet-1{color:$watson-violet-1;}
.bgcolor-watson-violet-10{color:$watson-violet-10;}
.bgcolor-watson-violet-20{color:$watson-violet-20;}
.bgcolor-watson-violet-30{color:$watson-violet-30;}
.bgcolor-watson-violet-40{color:$watson-violet-40;}
.bgcolor-watson-violet-50{color:$watson-violet-50;}
.bgcolor-watson-violet-60{color:$watson-violet-60;}
.bgcolor-watson-violet-70{color:$watson-violet-70;}
.bgcolor-watson-violet-80{color:$watson-violet-80;}
.bgcolor-watson-violet-90{color:$watson-violet-90;}
