* {
  box-sizing: border-box; }

body {
  padding: 0 16px;
  margin: 0; }

a {
  color: #0F6DFF; }
  a:hover, a:active {
    color: #054ADA; }

input {
  height: 32px;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #ffffff;
  -webkit-appearance: none;
  border: none; }

select {
  height: 32px;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 0; }

label {
  color: #a4a4a4; }

.Label {
  margin-bottom: 8px;
  margin-right: 1rem; }

.input-layout-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.padding-h {
  padding-left: 16px;
  padding-right: 16px; }

.padding-v {
  padding-top: 16px;
  padding-bottom: 16px; }

.inputs {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem; }
  .inputs .input-set {
    display: inline-block;
    margin: 0 2rem 1rem 0; }
    .inputs .input-set .input-element {
      width: 256px; }
  @media (max-width: 960px) {
    .inputs {
      flex-direction: column;
      align-items: flex-start; }
      .inputs .input-set.input-set-first {
        display: block; } }
  @media (max-width: 640px) {
    .inputs .input-set {
      margin-right: 0;
      display: block; }
      .inputs .input-set .input-element {
        width: 100%; } }

.Output .output-content {
  width: 100%;
  max-width: 576px; }

.Dropdown {
  position: relative; }
  .Dropdown select {
    cursor: pointer; }
  .Dropdown .icon {
    position: absolute;
    top: 50%;
    right: 8px;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAFGq+z1AAAAAXNSR0IArs4c6QAAAGRJREFUGBljYGBg8ABiDiBGgJMIJhJrKYwNkwZpggvCJOE0P5wFYQSAqAlADJPYAWQzgwRBACSxE4jhAiBBEGCCUBCyF0iBbIcZgSwHcg3ISBQXgYyFaUBWgGENzCSQBpAJKAoAACINDtTizdkAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat; }
