@import url(../../node_modules/@ibm/type/dist/css/ibm-type.css);
* {
  box-sizing: border-box; }

body {
  padding: 0 16px;
  margin: 0; }

.padding-h {
  padding-left: 16px;
  padding-right: 16px; }

.padding-v {
  padding-top: 16px;
  padding-bottom: 16px; }
