$unit:16px;

*{
	box-sizing:border-box;
}

body{
	padding:0 $unit;
	margin:0;
}

input{
	height:32px;
	font-size:14px;
	padding:8px 16px;
	background-color:#ffffff;
	-webkit-appearance:none;
	border:none;
}

select{
	height:32px;
    font-size: 14px;
    -webkit-appearance: none;
    border: none;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 0;
}

label{
	color:#a4a4a4;
}

.Label{
	margin-bottom:8px;
	margin-right:1rem;
}

.input-layout-vertical{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}

.padding-h{
	padding-left:$unit;
	padding-right:$unit;
}

.padding-v{
	padding-top:$unit;
	padding-bottom:$unit;
}

.inputs{
    //display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:1rem;

    .input-set{
    	display:inline-block;
		margin:0 2rem 1rem 0;

		.input-element{
			width:256px;
		}
	}

	@media (max-width:960px){
    	flex-direction:column;
    	align-items:flex-start;

    	.input-set{
    		&.input-set-first{
    			display:block;
    		}
    	}
    }

    @media (max-width:640px){

    	.input-set{
    		margin-right:0;

    		display:block;

    		.input-element{
    			width:100%;
    		}
    	}
    }
}

.Output{
	
	.output-content{
		width:100%;
		max-width:576px;
	}
}