@import '../../node_modules/@ibm/type/dist/css/ibm-type.css';

$unit:16px;

*{
	box-sizing:border-box;
}

body{
	padding:0 $unit;
	margin:0;
}

.padding-h{
	padding-left:$unit;
	padding-right:$unit;
}

.padding-v{
	padding-top:$unit;
	padding-bottom:$unit;
}